{{- $url := .Params.canonical_url -}}
{{- $displayText := $url -}}
{{- $parsed := urls.Parse $url -}}
{{- $host := $parsed.Host -}}

{{- /* Domain mapping for custom display text */ -}}
{{- if eq $host "dev.to" -}}
  {{- $displayText = "dev.to/yrizos" -}}
{{- else if eq $host "medium.com" -}}
  {{- $displayText = "medium.com/@yrizos" -}}
{{- else if eq $host "www.medium.com" -}}
  {{- $displayText = "medium.com/@yrizos" -}}
{{- else if eq $host "www.starttech.vc" -}}
  {{- $displayText = "www.starttech.vc/blog" -}}
{{- else if eq $host "blog.talentlms.io" -}}
  {{- $displayText = "blog.talentlms.io" -}}
{{- end -}}

<div class="post-original-notice">
  Originally published at <a href="{{ $url }}" target="_blank" rel="noopener noreferrer"><span>{{ $displayText }}</span></a>
</div>
