// ============================================
// PAGES
// ============================================

// Page spacing
$space-page-title-bottom: $space-normal * 2;

.page-title {
  margin-bottom: $space-page-title-bottom;
}
