// ============================================
// POSTS LIST COMPONENT
// ============================================

// Posts list spacing
$space-posts-list-section-top: $space-extra-large;
$space-posts-list-section-bottom: $space-extra-large;
$space-posts-list-title-top: $space-extra-large;
$space-posts-list-title-bottom: $space-normal;
$space-posts-list-gap: $space-normal;
$space-posts-list-item-gap: $space-small;

// All posts link icon
$size-all-posts-icon: 0.7em;


.posts-list-section {
  margin-top: $space-posts-list-section-top;
  margin-bottom: $space-posts-list-section-bottom;
}

.posts-list-section:last-child {
  margin-bottom: 0;
}

.posts-list-title {
  margin-top: $space-posts-list-title-top;
  margin-bottom: $space-posts-list-title-bottom;
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $space-posts-list-gap;
}

.posts-list li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $space-posts-list-item-gap;
}

.post-title {
  margin-top: 0;
  margin-bottom: 0;
}

.all-posts-link {
  text-align: left;
}

.all-posts-link a {
  .icon {
    text-decoration: none;
    font-size: $size-all-posts-icon;
    vertical-align: -0.075em;
  }

  &:hover {
    .icon {
      color: $color-text-accent;
    }
  }
}
