@import 'normalize';
@import 'config';
@import 'header';
@import 'footer';
@import 'hero';
@import 'page';
@import 'posts-list';
@import 'books-list';
@import 'post';
@import 'post-meta';
@import 'post-series';
@import 'talk';
@import 'talk-meta';
@import 'slide-viewer';
@import 'reading-progress';
@import 'syntax';
@import 'syntax-override';
@import '404';

html {
  background-color: $color-background-primary;
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  background-color: $color-background-primary;
  color: $color-text-primary;
  font-family: $font-family-primary;
  font-size: $font-size-base-desktop;
  font-weight: $font-weight-light;
  margin: 0;
}

a {
  color: $color-text-primary;
  text-decoration: underline;
  text-decoration-color: $color-link-underline;
  transition: color $motion-duration-normal $motion-easing-normal,
              text-decoration-color $motion-duration-normal $motion-easing-normal;
}

a:hover {
  color: $color-text-accent;
  text-decoration-color: $color-text-accent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  color: $color-text-primary;
  font-weight: $font-weight-normal;
}

h1 {
  font-size: #{$font-scale-3xl}em;
  margin-top: 0;
  margin-bottom: $space-normal;
}

h2 {
  font-size: #{$font-scale-2xl}em;
  margin-top: $space-extra-large;
  margin-bottom: $space-normal;
}

h3 {
  font-size: #{$font-scale-lg}em;
  margin-top: $space-extra-large;
  margin-bottom: $space-normal;
}

h4 {
  font-size: #{$font-scale-md}em;
  margin-top: $space-extra-large;
  margin-bottom: $space-normal;
}

h5 {
  font-size: #{$font-scale-sm}em;
  margin-top: $space-extra-large;
  margin-bottom: $space-normal;
}

h6 {
  font-size: #{$font-scale-sm}em;
  margin-top: $space-extra-large;
  margin-bottom: $space-normal;
}

.site-container {
  max-width: $layout-content-max-width;
  margin: 0 auto;
  padding: $space-large $space-large;
}

p {
  margin-top: 0;
  margin-bottom: $space-normal;
  line-height: $line-height-body;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $space-small;
}

li {
  margin-top: 0;
  margin-bottom: $space-small;
  line-height: $line-height-body;
}

.site-main {
  margin: $space-large 0;
  border-top: 1px solid $color-border-primary;
  border-bottom: 1px solid $color-border-primary;
  padding-top: $space-large;
  padding-bottom: $space-large;
}

blockquote {
  margin: $space-normal 0;
  padding: $space-quote-padding;
  border-left: $border-width-accent solid $color-border-accent;
  background-color: $color-quote-background;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: $space-large auto;
  height: $size-divider-dot;
  width: $size-divider-dot;
  border-radius: 50%;
  background-color: $color-border-primary;
  position: relative;
  display: block;

  &::before,
  &::after {
    content: '';
    width: $size-divider-dot;
    height: $size-divider-dot;
    border-radius: 50%;
    background-color: $color-border-primary;
    position: absolute;
    top: 0;
  }

  &::before {
    left: calc(-#{$size-divider-dot} - #{$space-separator});
  }

  &::after {
    right: calc(-#{$size-divider-dot} - #{$space-separator});
  }
}

.site-footer {
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: $layout-content-max-width) {
  body {
    font-size: $font-size-base-mobile;
  }
}

