<nav aria-label="Primary navigation">
  <div class="container">
    <a href="/" class="home-icon" aria-label="Home">
      <i class="fa-solid fa-home"></i>
    </a>
    <button class="hamburger-menu" aria-label="Menu" id="hamburger-toggle">
      <i class="fa-solid fa-bars" id="hamburger-icon"></i>
    </button>
  </div>
  <div class="hamburger-nav" id="hamburger-nav">
    <ul class="hamburger-menu-list">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/">Posts</a></li>
    </ul>
  </div>
</nav>
