// ============================================
// HEADER
// ============================================

.site-header {
  display: flex;
  flex-direction: column;
  gap: $space-small;
  align-items: flex-start;
}

.site-title {
  margin: 0;
}

.site-title a {
  font-size: $font-size-brand;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  font-family: $font-family-heading;
  text-decoration: none;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: $space-separator;
  margin-bottom: 0;
}

.site-nav li {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}


.site-nav__separator {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: $color-border-primary;
  display: inline-block;
  vertical-align: middle;
}


.site-nav a {
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
