html {
  background-color: #37353E;
  height: 100%;
}

body {
  background-color: #37353E;
  color: #D3DAD9;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

a {
  color: #D3DAD9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inclusive Sans', sans-serif;
  color: #D3DAD9;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.container {
  padding: 1.25rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-icon,
.hamburger-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.home-icon::before,
.home-icon::after,
.hamburger-menu::before,
.hamburger-menu::after {
  display: none;
  content: none;
}

i {
  text-decoration: none;
}

.home-icon i,
.hamburger-menu i {
  color: #715A5A;
  font-size: 1.4rem;
}

.home-icon i::after,
.hamburger-menu i::after {
  display: none;
  content: none;
}

.home-icon:hover i,
.hamburger-menu:hover i {
  color: #D3DAD9;
}

.hamburger-menu i {
  color: #715A5A;
}

.hamburger-menu i.fa-bars {
  color: #715A5A;
}

header {
  position: relative;
  z-index: 1000;
}

.hamburger-nav {
  position: fixed;
  top: calc((1.25rem * 2) + 1.4rem);
  left: 0;
  right: 0;
  width: 100%;
  background-color: #37353E;
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  padding: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hamburger-nav.open {
  max-height: 500px;
}


.hamburger-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hamburger-menu-list li {
  padding: 1.25rem;
  border-top: 1px solid #3A3841;
}

.hamburger-menu-list li:hover {
  background-color: #715A5A;
}

.hamburger-menu-list a {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  color: #D3DAD9;
  text-decoration: none;
}

main {
  flex: 1;
}

.hero {
  margin-top: 0rem;
  margin-bottom: 4rem;
  text-align: center;
}

.hero p {
  margin: 0;
}

.hero .avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.social-icons i {
  color: #715A5A;
  font-size: 1.4rem;
}

.social-icons a:hover i {
  color: #D3DAD9;
}

article ul, 
article ol {
  margin-left: 0;
  padding-left: 1.5rem;
}

.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-posts .posts-list {
  margin-bottom: 4rem;
}

.posts-list li {
  margin: 0;
  border-bottom: 1px solid #715A5A;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.posts-list li:first-child {
  border-top: 1px solid #715A5A;
}

.posts-list a {
  display: block;
  text-decoration: none;
  color: #D3DAD9;
}

.posts-list a:hover {
  text-decoration: underline;
}

.posts-list .post-title {
  margin: 0;
  font-weight: normal;
  color: #D3DAD9;
}

.section-posts h2 {
  color: #715A5A;
}

.all-posts-link {
  text-align: right;
  margin-top: 1rem;
}

.all-posts-link a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: #715A5A;
  text-decoration: none;
  line-height: 1;
}

.all-posts-link a i {
  color: currentColor;
  text-decoration: none;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}

.all-posts-link a:hover {
  text-decoration: underline;
}

.post-preview {
  margin-bottom: 3rem;
}

.post-cover {
  margin-left: calc(-1 * 1.25rem);
  margin-right: calc(-1 * 1.25rem);
  margin-top: calc(-1 * 1.25rem);
  margin-bottom: 1rem;
  width: calc(100% + (1.25rem * 2));
  max-width: calc(100% + (1.25rem * 2));
}

.post-cover img {
  width: 100%;
  height: auto;
  display: block;
}


.post-content h2 a {
  color: #D3DAD9;
  text-decoration: none;
}

.post-content h2 a:hover {
  text-decoration: underline;
}

.post-meta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #44444E;
}

.post-meta time,
.post-meta .reading-time {
  color: #44444E;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.post-tags .tag {
  font-size: 0.875rem;
  color: #715A5A;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid #715A5A;
  border-radius: 3px;
}

article header {
  margin-bottom: 1.5em;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #3A3841;
}

article header time {  
  display: block;
}

article h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

article p,
article ul,
article ol {
  margin-bottom: 1.5rem;
}

article li {
  margin-bottom: 0.5rem;
}

article p,
article li {
  line-height: 1.5;
}
