{{- /*
Renders a posts list with a title.

@context {string} title The title to display above the list.
@context {slice} pages The pages to display in the list.
*/}}
{{- $title := .title }}
{{- $pages := .pages }}
<section class="posts-list-section">
  {{- if $title }}
  <h2 class="posts-list-title">{{ $title }}</h2>
  {{- end }}
  <ul class="posts-list">
    {{- range $pages }}
    <li class="posts-list-item">
      <h3 class="post-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h3>
      {{- if eq .Type "talk" -}}
        {{ partial "talk-meta.html" (dict "page" . "class" "talk-meta talk-meta--list" "isList" true) }}
      {{- else -}}
        {{ partial "post-meta.html" (dict "page" . "class" "post-meta post-meta--list") }}
      {{- end -}}
    </li>
    {{- end }}
  </ul>
</section>
