{{- $slidesDir := .Params.slides_dir -}}
{{- if $slidesDir -}}
{{- $slidePattern := printf "images/%s/slide-*.png" $slidesDir -}}
{{- $slides := resources.Match $slidePattern -}}
{{- $slides = sort $slides "Name" -}}
{{- $slideCount := len $slides -}}
{{- if gt $slideCount 0 -}}
<div class="slide-viewer" data-slides-dir="{{ $slidesDir }}" data-slide-count="{{ $slideCount }}">
  <div class="slide-viewer-picture">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {{- range $index, $slide := $slides -}}
          <li class="glide__slide">
            <img 
              src="{{ $slide.RelPermalink }}" 
              alt="Slide {{ add $index 1 }}"
              loading="lazy"
              class="slide-image">
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{- end -}}
{{- end -}}

